In [1]:
import pandas as pd
import os
import re

In [2]:
all_files = []
for files in os.listdir("data"):
    if files.endswith(".tsv"):
        filepath = "data" + "/" + files
        all_files.append(filepath)
all_files

['data/worldometers-2022-04-18.tsv',
 'data/worldometers-2022-04-19.tsv',
 'data/worldometers-2022-04-20.tsv',
 'data/worldometers-2022-04-21.tsv',
 'data/worldometers-2022-04-22.tsv',
 'data/worldometers-2022-04-23.tsv',
 'data/worldometers-2022-04-24.tsv',
 'data/worldometers-2022-04-25.tsv',
 'data/worldometers-2022-04-26.tsv',
 'data/worldometers-2022-04-27.tsv',
 'data/worldometers-2022-04-29.tsv',
 'data/worldometers-2022-04-30.tsv',
 'data/worldometers-2022-05-01.tsv',
 'data/worldometers-2022-05-02.tsv',
 'data/worldometers-2022-05-03.tsv',
 'data/worldometers-2022-05-04.tsv',
 'data/worldometers-2022-05-05.tsv',
 'data/worldometers-2022-05-06.tsv',
 'data/worldometers-2022-05-07.tsv',
 'data/worldometers-2022-05-08.tsv',
 'data/worldometers-2022-05-09.tsv',
 'data/worldometers-2022-05-10.tsv',
 'data/worldometers-2022-05-11.tsv',
 'data/worldometers-2022-05-12.tsv',
 'data/worldometers-2022-05-14.tsv',
 'data/worldometers-2022-05-15.tsv',
 'data/worldometers-2022-05-16.tsv',
 'data/worldometers-2022-05-17.tsv',
 'data/worldometers-2022-05-18.tsv',
 'data/worldometers-2022-05-19.tsv',
 'data/worldometers-2022-05-20.tsv',
 'data/worldometers-2022-05-21.tsv',
 'data/worldometers-2022-05-22.tsv',
 'data/worldometers-2022-05-23.tsv',
 'data/worldometers-2022-05-24.tsv',
 'data/worldometers-2022-05-25.tsv']

# Add "Date" column to our dataframe
I am using ReGex to extract the date format in filename

In [3]:
regex_date = "\d{4}-\d{2}-\d{2}"
for file in all_files:
    df = pd.read_csv(file, sep="\t")
    date = re.search(regex_date, file).group()
    df["Date"] = date
    df.to_csv(file[0:5] + "data_processed" + file[4:-4] + "-processed" + file[-4:], sep="\t", index=False)

In [4]:
#test latest file
df = pd.read_csv("data/data_processed/worldometers-2022-05-24-processed.tsv", sep="\t")
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,Date
0,USA,85241016,75633.0,1029524.0,324.0,81764911.0,63390.0,2446581.0,2327.0,254701.0,3076.0,1.022984e+09,3056690.0,3.346706e+08,North America,2022-05-24
1,India,43142192,2124.0,524507.0,17.0,42602714.0,1977.0,14971.0,698.0,30692.0,373.0,8.470922e+08,602637.0,1.405643e+09,Asia,2022-05-24
2,Brazil,30836815,32820.0,665955.0,228.0,29885580.0,33663.0,285280.0,8318.0,143151.0,3092.0,6.377617e+07,296062.0,2.154147e+08,South America,2022-05-24
3,France,29391365,32029.0,148005.0,88.0,28657773.0,47843.0,585587.0,1173.0,448405.0,2258.0,2.714902e+08,4141952.0,6.554644e+07,Europe,2022-05-24
4,Germany,26157826,54198.0,138879.0,141.0,24832300.0,123700.0,1186647.0,944.0,310331.0,1648.0,1.223324e+08,1451324.0,8.429018e+07,Europe,2022-05-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,MS Zaandam,9,NaN,2.0,NaN,7.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-24
226,Niue,9,NaN,NaN,NaN,9.0,NaN,0.0,NaN,5464.0,NaN,NaN,NaN,1.647000e+03,Australia/Oceania,2022-05-24
227,Nauru,8,NaN,NaN,NaN,8.0,NaN,0.0,NaN,730.0,NaN,NaN,NaN,1.095300e+04,Australia/Oceania,2022-05-24
228,Tuvalu,3,NaN,NaN,NaN,NaN,NaN,3.0,NaN,249.0,NaN,NaN,NaN,1.206700e+04,Australia/Oceania,2022-05-24
229,Saint Helena,2,NaN,NaN,NaN,2.0,NaN,0.0,NaN,327.0,NaN,NaN,NaN,6.111000e+03,Africa,2022-05-24

# Merge all files into one larger data file

In [5]:
os.listdir('data/data_processed/')

['.ipynb_checkpoints',
 'worldometers-2022-04-18-processed.tsv',
 'worldometers-2022-04-19-processed.tsv',
 'worldometers-2022-04-20-processed.tsv',
 'worldometers-2022-04-21-processed.tsv',
 'worldometers-2022-04-22-processed.tsv',
 'worldometers-2022-04-23-processed.tsv',
 'worldometers-2022-04-24-processed.tsv',
 'worldometers-2022-04-25-processed.tsv',
 'worldometers-2022-04-26-processed.tsv',
 'worldometers-2022-04-27-processed.tsv',
 'worldometers-2022-04-29-processed.tsv',
 'worldometers-2022-04-30-processed.tsv',
 'worldometers-2022-05-01-processed.tsv',
 'worldometers-2022-05-02-processed.tsv',
 'worldometers-2022-05-03-processed.tsv',
 'worldometers-2022-05-04-processed.tsv',
 'worldometers-2022-05-05-processed.tsv',
 'worldometers-2022-05-06-processed.tsv',
 'worldometers-2022-05-07-processed.tsv',
 'worldometers-2022-05-08-processed.tsv',
 'worldometers-2022-05-09-processed.tsv',
 'worldometers-2022-05-10-processed.tsv',
 'worldometers-2022-05-11-processed.tsv',
 'worldometers-2022-05-12-processed.tsv',
 'worldometers-2022-05-14-processed.tsv',
 'worldometers-2022-05-15-processed.tsv',
 'worldometers-2022-05-16-processed.tsv',
 'worldometers-2022-05-17-processed.tsv',
 'worldometers-2022-05-18-processed.tsv',
 'worldometers-2022-05-19-processed.tsv',
 'worldometers-2022-05-20-processed.tsv',
 'worldometers-2022-05-21-processed.tsv',
 'worldometers-2022-05-22-processed.tsv',
 'worldometers-2022-05-23-processed.tsv',
 'worldometers-2022-05-24-processed.tsv',
 'worldometers-2022-05-25-processed.tsv']

In [6]:
path = 'data/data_processed/'
frames = []
all_length = []
for file in os.listdir(path):
    if file.endswith('.tsv'):
        filepath = path + file
        df1 = pd.read_csv(filepath, sep="\t")
        frames.append(df1)
        result = pd.concat(frames)
        length_1month = len(df1.index)
        all_length.append(length_1month)

In [9]:
# to check if the merged file has the same length with all data files we've crawled
assert sum(all_length) == len(pd.read_csv("covid_data.tsv", sep="\t"))

In [8]:
result = result.drop(columns=["NewCases", "NewDeaths", "NewRecovered", "Tests/1M pop ", "NewRecovered\t"], axis=1)
result.to_csv('covid_data.tsv', sep="\t", index=False)